extends ../base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = "main" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .container
      p(style="margin-top: 40px;") Пример вызова модалок
      p
        a(href="#", data-modal="feedback") modal--feedback link
      p
        a(href="#", data-modal="success") modal--success link

      //- Данные каждого компонента должны
      p(style="margin-top: 40px;") Пример импорта из `pug/data`
      h3!= heading.title
      p= heading.description
      p!= heading.description
      p !{heading.description}
      //- != и !{} позволяют html отрабатывать в pug, используйте их по умолчанию
      //- варианты когда в тексте требуется отобразить <b>тест</b> тегами встречается редко

      p(style="margin-top: 40px;") Пример использования +img()
      p(style="margin-bottom: 40px;")
        +img("content", "placeholder", "png", 120, 120, "Пример")

block modals
  +modal("modal--feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")
    +modal-success()
