extends ../base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = "main" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .container
      //- Все данные должны выноситься в pug/data, привязываясь к бэм, а не к странице
      //- т.е у вас будет pug/data/features.pug || intro.pug, а не main.pug || catalog.pug
      p(style="margin-top: 40px;") Пример импорта из `pug/data`
      h3!= heading.title
      p= heading.description
      p!= heading.description
      p !{heading.description}
      //- != и !{} позволяют html отрабатывать в pug, используйте их по умолчанию
      //- варианты когда в тексте требуется отобразить <b>тест</b> тегами встречается редко

      p(style="margin-top: 40px;") Пример использования +img()
      p(style="margin-bottom: 40px;")
        +img("content", "placeholder", "png", 120, 120, "Пример")

block modals
