extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style
    include ../../sass/inline/sitemap.css

  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — index.html",
        src: "index.html"
      },
    ]

  main
    .sitemap
      .container
        img(src="https://via.placeholder.com/300x150", width="300", alt="Логотип проекта")
        h1 Список страниц
        ol
          each page in pages
            li
              if page.id
                label(for=page.id)
                  span!= page.name
                input.visually-hidden(type="checkbox", checked=true, id=page.id)
                div
                  ul
                    each item in page.innerList
                      li
                        a(href= item.src)= item.name
              else
                a(href= page.src)= page.name
