mixin btn(options = {})
  - const tag = options.href ? "a" : "button";
  - const href = options.href || false;
  - const text = options.text || "";
  - const type = options.type || tag === "button" ? options.type || "button" : false;
  - const target = options.isExternal ? "_blank" : false;
  - const rel = options.isExternal ? "nofollow noopener noreferrer" : false;

  #{tag}.btn(href=href, target=target, rel=rel, type=type)&attributes(attributes)!= text
